{{ 'component-tilte-test.css' | asset_url | stylesheet_tag }}

<section id="container" style="background-color: {{section.settings.background_color}};">
  <div class="banner-custom">
    <div class="box">
      <h1 class="title-banner">{{ section.settings.title-banner }}</h1>
      <P>TEXT</P>
      <div>
        <span>button 1</span>
        <span>button 2</span>
      </div>
    </div>
    <div class="box">
      {% if section.settings.imagem-banner%}
          <img src="{{ section.settings.imagem-banner | img_url: width: 400 }}">
        {% else %}
          <p>Image is here later???</p>
      {% endif %}
    </div>
  </div>
</section>


{% comment %} <style>
  #container {
    background-color: rgb(235, 128, 28);
    display: flex;
    justify-content: center;
  }

  .banner-custom {
    max-width: 1220px;
    width: 100%;
    padding: 0 20px;
    display: flex;
  }

  .box {
    width: 100%;
  }
</style> {% endcomment %}
{%  stylesheet  %} 
  #container{
    display: flex;
    justify-content: center;
  }

  .banner-custom {
    max-width: 1220px;
    width: 100%;
    padding: 0 20px;
    display: flex;
  }
{% endstylesheet %}

{% style %}
  #container{
    background-color: {{section.settings.background_color}}
  }

  .title-banner{
    font-size: {{ section.settings.size-title-banner }}px;
  }
{% endstyle %}

{% schema %}
  {
    "name": "Banner Principal",
    "settings": [
      {
        "type": "color",
        "id": "background_color",
        "label": "Backgorund color"
      },
      {
        "type": "text",
        "id": "title-banner",
        "label": "Titulo do banner",
        "default": "Add to text here!!!"
      }, 
      {
        "type": "range",
        "id": "size-title-banner",
        "label": "Tamanho da fonte",
        "min": 16,
        "max": 72,
        "step": 2,
        "unit": "px",
        "default": 32
      },
      {
        "type": "image_picker",
        "id": "imagem-banner",
        "label": "Imagem do banner",
      }
    ]
  }
{% endschema %}