{{ 'component-tilte-test.css' | asset_url | stylesheet_tag }}

<section id="container" style="background-color: {{section.settings.background_color}};">
  <div class="banner-custom">
    <div class="box">
      <h1 class="title-banner">{{ section.settings.title-banner }}</h1>
      <P class="description-banner">Aliquam vel platea curabitur sit vestibulum egestas sit id lorem. Aliquet neque, dui sed eget scelerisque. Non at at venenatis tortor amet feugiat ullamcorper in. Odio vulputate cras vel lacinia turpis volutpat adipiscing. Sollicitudin at velit, blandit tempus nunc in.</P>
      <div>
        <div class="button-banner-1">Get Started</div>
        <div class="button-banner-2">Watch Video</div>
      </div>
    </div>
    <div class="box-image">
      {% if section.settings.imagem-banner%}
          <img src="{{ section.settings.imagem-banner | image_url: width: 600 }}" class="image-banner">
        {% else %}
          <p>Image is here later???</p>
      {% endif %}
    </div>
  </div>
</section>

{%  stylesheet  %} 
  #container{
    display: flex;
    justify-content: center;
  }

  .banner-custom {
    max-width: 1220px;
    width: 100%;
    padding: 0 20px;
    display: flex;
    align-items: center;
    justify-content: center;
  }

  .box, .box-image{
    max-width: 100%;
  }

  .title-banner{
    font-weight: 900;
  }

  .description-banner{
    margin: 24px 0;
  }

  .button-banner-1{
    background-color: #2563EB;
    color: #fff;
    padding: 15px 35px;
    font-size: 18px;
    border-radius: 8px;
    margin-right: 10px;
  }

  .button-banner-2{
    color: #2563EB;;
    padding: 15px 35px;
    font-size: 18px;
    border-radius: 8px;
    margin-right: 10px;
  }


  @media (max-width:1023px) {
  .banner-custom {
    flex-direction: column;
  }

  .box{
    text-align: center;
  }

  .image-banner{
    max-width: 100%;
    width: 100%;
  }
}

  @media (max-width: 767px) {

}
{% endstylesheet %}

{% style %}
  #container{
    background-color: {{section.settings.background_color}}
  }

  .title-banner{
    font-size: {{ section.settings.size-title-banner }}px;
  }

  @media (max-width: 767px) {
  .title-banner{
    font-size: {{ section.settings.size-title-banner-mobile }}px;
  }
}
{% endstyle %}

{% schema %}
  {
    "name": "Banner Principal",
    "settings": [
      {
        "type": "color",
        "id": "background_color",
        "label": "Backgorund color"
      },
      {
        "type": "text",
        "id": "title-banner",
        "label": "Titulo do banner",
        "default": "Add to text here!!!"
      }, 
      {
        "type": "range",
        "id": "size-title-banner",
        "label": "Tamanho da fonte",
        "min": 16,
        "max": 72,
        "step": 2,
        "unit": "px",
        "default": 32
      },
      {
        "type": "range",
        "id": "size-title-banner-mobile",
        "label": "Tamanho da fonte - Mobile",
        "min": 16,
        "max": 72,
        "step": 2,
        "unit": "px",
        "default": 32
      },
      {
        "type": "image_picker",
        "id": "imagem-banner",
        "label": "Imagem do banner",
      }
    ]
  }
{% endschema %}